opencv-python~=4.9.0.80
onnxruntime~=1.18.0
numpy~=1.26.3
matplotlib~=3.9.0
setuptools~=68.2.0
sympy~=1.12
typing_extensions~=4.9.0
onnx~=1.16.1
tqdm~=4.66.4
packaging~=24.0
colorama~=0.4.6
urllib3~=2.2.1
fsspec~=2024.2.0
pillow~=10.2.0
overrides~=7.7.0
scipy~=1.13.1
psutil~=5.9.8
defusedxml~=0.7.1
cnocr~=2.3.0.3
gradio~=4.44.1